.inicio {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .inicio .div-2 {
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
  }
  
  .inicio .sssaludconinfo {
    height: 28px;
    left: 255px;
    position: absolute;
    top: 803px;
    width: 110px;
  }
  
  .inicio .osfatun {
    height: 40px;
    left: 33px;
    position: absolute;
    top: 792px;
    width: 111px;
  }
  
  .inicio .group {
    height: 171px;
    left: 6px;
    position: absolute;
    top: 610px;
    width: 379px;
  }
  
  .inicio .overlap-group {
    height: 171px;
    position: relative;
  }
  
  .inicio .vector {
    height: 1px;
    left: 0;
    position: absolute;
    top: 164px;
    width: 379px;
  }
  
  .inicio .personas {
    height: 171px;
    left: 130px;
    position: absolute;
    top: 0;
    width: 119px;
  }
  
  .inicio .p {
    color: var(--primary);
    font-family: var(--h-1-font-family);
    font-size: var(--h-1-font-size);
    font-style: var(--h-1-font-style);
    font-weight: var(--h-1-font-weight);
    left: 23px;
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    position: absolute;
    text-align: center;
    top: 167px;
    width: 346px;
  }
  
  .inicio .text-wrapper-2 {
    color: var(--primary);
    font-family: var(--h-2-font-family);
    font-size: var(--h-2-font-size);
    font-style: var(--h-2-font-style);
    font-weight: var(--h-2-font-weight);
    left: 13px;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    position: absolute;
    text-align: center;
    top: 277px;
    width: 366px;
  }
  
  .inicio .accordion {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    left: 13px;
    position: absolute;
    top: 364px;
  }
  
  .inicio .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
  }
  
  .inicio .design-component-instance-node {
    flex: 0 0 auto !important;
  }
  
  .inicio .header {
    background-color: transparent;
    background-image: url(./rect-ngulo-54.svg);
    background-size: 100% 100%;
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .inicio .logo-instance {
    height: 70px !important;
    left: 140px !important;
    position: absolute !important;
    top: 56px !important;
    width: 112px !important;
  }
  